---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Anne Young">
  <main>
    <h1>Anne Young</h1>
    <ul>
      <li><a href="https://anneofoxfordstreet.blogspot.com">Blog</a></li>
      <li>Contact</li>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
