---
interface Props {
  title: string;
}

const { title } = Astro.props;

const description = "Personal homepage of Anne Young, writer";
const keywords = [
  "writing",
  "english",
  "history",
  "literature",
  "true crime",
  "pop culture",
  "nineteenth-century",
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta name="od:description" content={description} />
    <meta name="keywords" content={keywords.join(",")} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* Neutral Blue-Grey Accent Colors */
    --accent: 96, 125, 139; /* A muted blue-grey */
    --accent-light: 196, 214, 222; /* Lighter shade for gradients/highlights */
    --accent-dark: 69, 90, 100; /* Darker shade for hover/stronger emphasis */
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: GothamBook, Arial, Helvetica, sans-serif;
    background: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
